.footer-ablove{
    padding: 30px;
    background-color:$color-primary;
    color: #FFF;
    font-size: 1.5rem;
    .btn{
        float: right;
        background-color: #FFF;
        font-family: $mouse-500;
    }
}